:root{
    --blue:#9CC6DB;
    --light:#FCF6D9;
    --brown:#CF4B00;
    --sandle:#DDBA7D;
}
body{
    margin: 0px;
    background-color: var(--light);
    font-family: Arial, Helvetica, sans-serif;
}
.welcome{
    display: flex;
    margin: 0px;
    background-color: var(--blue);
}
.head{
    text-align: center;
    flex: 1;
}
.details{
    justify-self: center;
    width: 200px;
    margin: 20px;
    display: flex;
}
.table{
    /* border: 2px solid; */
    border-collapse: collapse;
}
tr,td{
    border: 2px solid;
    padding: 8px;
    text-align: center;
}
th{
    font-weight: bold;
}
.form{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-color: var(--sandle);
    width: 670px;
    position: relative;
    justify-self: center;
    padding: 20px;
    border-radius: 10px;
}
label{
    padding: 10px;
}
form>div{
    padding: 10px;
}
button{
    width: 90px;
    height: 30px;
    position: relative;
    left: 40px;
    background-color: var(--blue);
}
h2{
    position: relative;
    justify-self: center;
}
